block variables

doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    title #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet")

    link(rel="preload" as="image" href="https://live.staticflickr.com//65535//49366595303_06cf65b07e.jpg")
    link(rel="preload" as="image" href="https://live.staticflickr.com//65535//49347123322_291c86b016.jpg")
    link(rel="preload" as="image" href="https://live.staticflickr.com/65535/48979125763_e2534f54bd.jpg")
    link(rel="preload" as="image" href="https://live.staticflickr.com//65535//49365470123_f2de66bb35.jpg")
    link(rel="preload" as="image" href="https://live.staticflickr.com/65535/48063004977_84252f9ceb.jpg")
    link(rel="preload" as="image" href="https://live.staticflickr.com/65535/49339376578_e933426455.jpg")
    link(rel="preload" as="image" href="https://live.staticflickr.com//65535//49226383598_6f8be86a06.jpg")
    link(rel="preload" as="image" href="https://live.staticflickr.com/65535/47105096764_f751fba568.jpg")

  body(class=pageClass)
    .svg-sprite
      include ../assets/sprites/sprite.svg
    main.wrapper
      block content
    include ../components/preloader/preloader
