extends ../../templates/index

block variables
    - var title = 'Songbird'
    - var pageClass = 'index-page'

block content
  include ../../blocks/header/header
  include ../../blocks/start/start
  include ../../blocks/game/game
  include ../../blocks/results/results
  include ../../blocks/gallery/gallery
  include ../../blocks/footer/footer

