extends ../../templates/index

block variables
    - var title = 'Songbird'
    - var pageClass = 'index-page'

block content
  include ../../blocks/header/header
  include ../../blocks/content/content
  include ../../blocks/footer/footer

