footer.footer
  .footer__col
    a(href="https://github.com/ShkredovDmitriy" target="_blank").footer__git-link
      svg
        use(href="#icon-git")
  .footer__col
    .footer__copyright © 2022 The Rolling Scopes
  .footer__col
    a(href="https://rs.school/js/" target="_blank").footer__rs-link
      svg
        use(href="#icon-rs")