section.section.game
  .game__score Score: 0

  ul.game__steps
    li.game__step
      button.btn.game__step-button Воробьиные
    li.game__step
      button.btn.game__step-button Лесные птицы
    li.game__step
      button.btn.game__step-button Певчие птицы
    li.game__step
      button.btn.game__step-button Хищные птицы
    li.game__step
      button.btn.game__step-button Морские птицы

  .game__question

  .game__container

  button.btn.game__next-button Next Level
