.preloader.show

  .preloader__top
  .preloader__center
    .preloader__line.preloader__line--1
    .preloader__line.preloader__line--2
    .preloader__line.preloader__line--3
    .preloader__line.preloader__line--4
    .preloader__note.preloader__note--1
      svg
        use(href="#icon-note-double")
    .preloader__note.preloader__note--2
      svg
        use(href="#icon-note-double")
    .preloader__note.preloader__note--3
      svg
        use(href="#icon-note-double")
    .preloader__note.preloader__note--4
      svg
        use(href="#icon-note-double")
    .preloader__note.preloader__note--5
      svg
        use(href="#icon-note-double")
  .preloader__bottom
  .preloader__table
