.preloader.preloader--show

  .preloader__top
  .preloader__center
    .preloader__note.preloader__note--1
      svg
        use(href="#icon-note")
    .preloader__note.preloader__note--2
      svg
        use(href="#icon-note")
    .preloader__note.preloader__note--3
      svg
        use(href="#icon-note")
    .preloader__note.preloader__note--4
      svg
        use(href="#icon-note")
    .preloader__note.preloader__note--5
      svg
        use(href="#icon-note")
  .preloader__bottom
  .preloader__table
