section.section.start.show

    .start__top
      .start__slider.start__slider--top
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")

    .start__center
      .start__poster
        img(src="./images/bird-big.jpg", alt="")

      .start__headline
        span.start__subtitle викторина
        h1.start__title ЗВУКИ ПТИЦ
        span.start__description Сыграй и проверь свои знания о птицах!!!
        button.btn.start__play-button Играть

    .start__bottom
      .start__slider.start__slider--bottom
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
        .start__slide
        .start__slide
        .start__slide
        .start__slide
        .start__slide
        .start__slide
        .start__slide
        .start__slide
