section.section.start.show

    .start__top
      .start__slider.start__slider--top
        .start__slide
          img(src="https://live.staticflickr.com/65535/48979125763_e2534f54bd.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49365470123_f2de66bb35.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com/65535/49339376578_e933426455.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49366595303_06cf65b07e.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49226383598_6f8be86a06.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com/65535/48979125763_e2534f54bd.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49347123322_291c86b016.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49365470123_f2de66bb35.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com/65535/48063004977_84252f9ceb.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49226383598_6f8be86a06.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49366595303_06cf65b07e.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com/65535/48979125763_e2534f54bd.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com/65535/49339376578_e933426455.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49365470123_f2de66bb35.jpg", alt="")

        .start__slide
          img(src="https://live.staticflickr.com/65535/48979125763_e2534f54bd.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49365470123_f2de66bb35.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com/65535/49339376578_e933426455.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49366595303_06cf65b07e.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49226383598_6f8be86a06.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com/65535/48979125763_e2534f54bd.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49347123322_291c86b016.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49365470123_f2de66bb35.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com/65535/48063004977_84252f9ceb.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49226383598_6f8be86a06.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49366595303_06cf65b07e.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com/65535/48979125763_e2534f54bd.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com/65535/49339376578_e933426455.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49365470123_f2de66bb35.jpg", alt="")

    .start__center
      .start__poster
        img(src="./images/bird-big.jpg", alt="")

      .start__headline
        span.start__subtitle#startSubtitle викторина
        h1.start__title#startTitle ЗВУКИ ПТИЦ
        span.start__description#startInfo Сыграй и проверь свои знания о&nbsp;птицах!!!
        button.button.button-primary.start__play-button#startButton Play

    .start__bottom
      .start__slider.start__slider--bottom
        .start__slide
          img(src="https://live.staticflickr.com/65535/48979125763_e2534f54bd.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49365470123_f2de66bb35.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com/65535/49339376578_e933426455.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49366595303_06cf65b07e.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49226383598_6f8be86a06.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com/65535/48979125763_e2534f54bd.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49347123322_291c86b016.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49365470123_f2de66bb35.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com/65535/48063004977_84252f9ceb.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49226383598_6f8be86a06.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49366595303_06cf65b07e.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com/65535/48979125763_e2534f54bd.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com/65535/49339376578_e933426455.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49365470123_f2de66bb35.jpg", alt="")

        .start__slide
          img(src="https://live.staticflickr.com/65535/48979125763_e2534f54bd.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49365470123_f2de66bb35.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com/65535/49339376578_e933426455.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49366595303_06cf65b07e.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49226383598_6f8be86a06.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com/65535/48979125763_e2534f54bd.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49347123322_291c86b016.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49365470123_f2de66bb35.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com/65535/48063004977_84252f9ceb.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49226383598_6f8be86a06.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49366595303_06cf65b07e.jpg", alt="")
        .start__slide
          img(src="./images/bird-big.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com/65535/48979125763_e2534f54bd.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com/65535/49339376578_e933426455.jpg", alt="")
        .start__slide
          img(src="https://live.staticflickr.com//65535//49365470123_f2de66bb35.jpg", alt="")
