header.header
  .header__wrapper
    nav.header__nav
      ul.header__nav-list
        li.header__nav-item
          button.btn.header__nav-link.header__nav-start-link.active Главная
        li.header__nav-item
          button.btn.header__nav-link.header__nav-game-link Викторина
        li.header__nav-item
          button.btn.header__nav-link.header__nav-res-link Результаты