header.header
  .header__wrapper
    nav.header__nav
      ul.header__nav-list
        li.header__nav-item
          span.header__nav-link.header__nav-link--active Главная
        li.header__nav-item
          span.header__nav-link Викторина
        li.header__nav-item
          span.header__nav-link Результаты