section.content

  .content__start.content__start--show
    .content__top
      .content__slider.content__slider--top
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")

    .content__center
      .content__poster
        img(src="./images/bird-big.jpg", alt="")

      .content__headline
        span.content__subtitle викторина
        h1.content__title ЗВУКИ ПТИЦ
        span.content__description Сыграй и проверь свои знания о птицах!!!
        button.btn.content__play-button Играть

    .content__bottom
      .content__slider.content__slider--bottom
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
          img(src="./images/bird-big.jpg", alt="")
        .content__slide
        .content__slide
        .content__slide
        .content__slide
        .content__slide
        .content__slide
        .content__slide
        .content__slide
        .content__slide

  .content__game